.move-enter {
  z-index: 10;
  transform: translateY(100%);
}

.move-enter.move-enter-active {
  transform: translateY(0%);
  transition: transform .5s ease-in;
}

.move-leave {  
  transform: translateY(0%);
}

.move-leave.move-leave-active {
  transform: translateY(-100%);
  transition: transform .5s ease-in;
}
