{
  "processors": ["stylelint-processor-styled-components"],
  "extends": "stylelint-config-standard",
  "syntax": "scss",
  "rules": {
    "rule-empty-line-before": null,
    "block-opening-brace-space-after": null,
    "block-closing-brace-space-before": null,
    "declaration-colon-newline-after": null
  }
}